#header {


    .navbar-sbb {
        background-color: #484141;
        border: none;
        margin-bottom: 0;

        li > a {
            color: white;
        }

        li.active > a {
            border-bottom: 2px solid green;
            background-color: #908888;
        }

        li > a:hover {
            background-color: #908888;
        }
    }

}