body {
    background-color: #f8f8f8 !important;
}
#layout {
    padding-left: 15px;
    padding-right: 15px;
}
#header {
    .navbar {
        margin-bottom: 0;
    }
}

#footer {

}

#main {
    background-color: white;
    min-height: 600px;
}

#sidebar {
    background-color: #f8f8f8 !important;
    height: 100%;
    border-color: #e7e7e7;
    padding: 50px 0 0 0;
}